// Place all the styles related to the in_forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 200;
  background-color: #f0f0f5;
  padding: 10px;
}
h2, b, ol, .nav_text{
  color: #660066;
}

.nav_text{
  color: #660066;
  font-size: 18px;
}

.submit {
  background-color: #660066;
  padding: 10px;
  height: auto;
}
.subtitle{
  color: #660066;
  font-weight: bold;
}
.output_text{
  color: black;
}
#intro_text {
  background-color: #ccccff;
  padding: 5px 10px;
}

#title {
  margin: 20px auto;
  text-align: center;
  font-size: 52px;
  color: #ffff;
}
#sub {
  width: 50%;
  margin: 0 auto;
}
