<div>
  <p class='subtitle'>Response by: <span class="output_text"><%=comment.author_name %></span> at
    <span class="output_text"><%=comment.created_at %></spn></p>
  <p> <%=comment.body %></p>
</div>
