
<%= render partial: 'header' %>

<button class="btn-default"><%= link_to "Submit InForm", new_in_form_path%></button>

<h2> All Current In-Forms (by date)</h1>
<ul id="in_forms">
  <% @in_forms.each do |in_form| %>
    <li><%= link_to in_form.created_at, in_form_path(in_form)%></li>
  <% end %>
</ul>
</div>
